<header *ngIf="option===options[0]">

  <div class="header-logo">
    <a [routerLink]="['']" routerLinkActive="active">
      <img src="../../../assets/img/logo_socializer.svg">
    </a>
  </div>

  <div class="header-menu">

    <nav class="menu-wrapper">

      <ul class="nav">

        <li class="nav-item">
          <a href="#" class="nav-link">Why Socialize</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/pricing']" routerLinkActive="active" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-rounded btn-transparent btn-border--blue" [routerLink]="['/sign']"
            routerLinkActive="active">Register</a>
        </li>

      </ul>

      <div class="social-wrapper">

        <ul>
          <li>
            <a href="" class="nav-item">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="nav-item">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="nav-item">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>

      </div>

    </nav>

  </div>

</header>

<header *ngIf="option===options[1]">

  <div class="header-logo">
    <a href="/">
      <img src="../../../assets/img/logo_socializer.svg">
    </a>
  </div>
  <div class="login-section py-2">
    Déjà inscrit ?
    <a class="btn btn-rounded btn-transparent btn-border--blue" [routerLink]="['/login']" routerLinkActive="active">connexion</a>
  </div>
</header>

<header *ngIf="option===options[2]">
  <div class="header-logo">
    <a href="/">
      <img src="../../../assets/img/logo_socializer.svg">
    </a>
  </div>
  <!-- login section header -->
  <div class="login-section">
    Vous n’avez pas encore de compte ?
    <a class="btn btn-rounded btn-transparent btn-border--blue" [routerLink]="['/sign']" routerLinkActive="active">inscription</a>
  </div>
</header>
