<app-header [option]="option"> </app-header>
<div class="register-user-section container">

  <!-- login section header -->


  <div class="main-title">
    <h1>Inscrivez-vous sur <span class="color-red">Socializer.</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  </div>

  <form class="register-user-form">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="">Prénom</label>
          <input type="text" required="required" placeholder="Prénom" class="form-control">
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="">Nom</label>
          <input type="text" required="required" placeholder="Nom" class="form-control">
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="">Nom d'utilisateur</label>
          <input type="text" required="required" maxlength="180" pattern=".{5,}" placeholder="Nom d'utilisateur" class="form-control"
            title="Au moins 5 caractéres">
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" required="required" placeholder="Email" class="form-control">
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="">Mot de passe</label>
          <input type="password" required="required" placeholder="Mot de passe" class="form-control">
          <p class="help-block">
            Au moins 6 caractéres, avec une majuscule, une minuscule et un chiffre
          </p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="">Confirmation mot de passe</label>
          <input type="password" required="required" placeholder="Confirmez votre mot de passe" class="form-control">
        </div>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="cgu-wrapper">
          <input type="checkbox" id="cgu" name="cgu" required="required">
          En vous inscrivant en tant qu'utilisateur, vous confirmez que vous acceptez les Conditions Générales du site
          et déclarez être informé des obligations civiles et fiscales qui incombent aux photographes exerçant une
          activité rémunérée.
          <a target="_blank" href="/cgu">Lire les CGU</a>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-rounded btn-green">
      Je m'inscris
    </button>
  </form>

</div>
